{% load static %}
{% static "images" as baseUrl %}

<html>
    <head>
        <style>
            form{
                margin:100px 0px 0px 600px;
                
            }
                         
            
        </style>

    </head>


    <body>
        <div>
        <form >
            ID/NAME:<br/>
            <input type="text" name="name" placeholder="ID"><br/><br/><br/><br/><br/>
            PIN NUMBER:<br/>
            <input type="password" name="password" placeholder="Pin"><br/><br/><br/>
            <a href="paid" style="text-decoration:none ;">Submit</a>
        </form>
        <a href="information">Return</a>

    </div>

    </body>


</html>