{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/body.css">
</head>	
<body>
	<div class="section2" style="	background-image: url({% static 'images/readmorebg.png' %});">
		<div class="container">
			
			
			<div class="content-section">
				<div class="title">
					<h1>Travel</h1>
				</div>
				<div class="content">
					<p>We are a main online travel organization in Nepal giving
                         a ‘best as far as a class can tell with the objective to be ‘ Nepal ‘s Travel Planner’.
                         Through our site, www.’Company Name’.com, our versatile applications, and our other related stages, recreation, and business voyagers can investigate, explore, analyze costs and book an extensive variety of administrations taking into account their movement needs.
                         Since our origin in 2020, in excess of 7 million clients have utilized at least one of our exhaustive travel-related administrations, which incorporate local and global air ticketing, lodging appointments, homestays, occasion bundles, transport ticketing,
                          rail ticketing, exercises, and subordinate administrations.</p>
					
				</div>
				
			</div>
		</div>
	</div>

	
</body>
</html>