<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid;
    }
    
</style>

<body>
    <form method="get">
        {% csrf_token  %}

        <input type="text" name="search">
        
        <input type="submit" value="search" >


    </form>     
       
        <a href="/" style="margin-left:600px;">  Complains </a>
    <table  style="margin: 0px auto;">
        <thead>
            <tr>
                <th> Phone number</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Complain</th>
                
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for complain in complains %}
            <tr>
                <td>{{complain.CompId}}</td>
                <td>{{complain.Name}}</td>
                <td>{{complain.Gender}}</td>
                <td>{{complain.Email}}</td>
                <td>{{complain.Description}}</td>

                <td><a href="{% url 'update' complain.id %}">edit</a></td>


           
                <td><a href="/remove/{{complain.pk}}">Delete</a>
                </td>


                               

                    
                    
                

                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    
    

    <a href="{% url 'create' %}">Insert new complain</a>
    <br/>
    


    

</body>

</html>