{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <style>
          

    
        </style>
    </head>

    <body>
        <header>
			<ul>
				
			</ul>

			
		</header>
   

        <form action="register" method="POST" class="bg1" style="height:80vh; width:60vh;border:1px solid black;    ">
            {% csrf_token %}
            <h1>Register Form</h1>
            <input type="text" name="first_name" placeholder="first name"><br>
            <input type="text" name="last_name" placeholder="last name"><br>
            <input type="email" name="email" placeholder="email"><br>
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password1" placeholder="password"><br>
            <input type="password" name="password2" placeholder="confirm password"><br>
            <input type="submit">

            <a href="login" >Login..</a>
        </form>

        <div>
            {% for message in messages %}
            <h4>{{message }}</h4>
            {% endfor %}    
        </div>
        </div>
    </body>



</html>